.container {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    margin-left: 220px;
    padding: 30px;
    width: calc(100% - 220px);
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .signout-button, .login-button {
    background-color: #7b77ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signout-button:hover, .login-button:hover {
    background-color: #5a55d6;
  }
  